body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.radio{
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 20px
}

.ant-radio-button-wrapper{
  border-radius: 6px;
  margin-bottom: 10px
}

:where(.css-dev-only-do-not-override-1gwfwyx)[class*=" ant-radio"] [class^="ant-radio"]::before{
  content: none
}

:where(.css-dev-only-do-not-override-1gwfwyx).ant-radio-button-wrapper {
  border-inline-start-width: 1px;
}

.container{
  margin : 20px auto;
  width: 60%;
}

/* .question{
  text-align: center;
} */

.ant-card-head-title{
  text-align: center;
  font-size: 2em;
}

:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected{
  background-color:#1677ff;
  color: white;
  box-shadow: 1px 1px 10px rgb(1, 107, 255);
}
:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected:hover{
  background-color:#1677ff;
  color: white;
  box-shadow: 1px 1px 10px rgb(1, 107, 255);
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Ensure no scrollbars */
  background-color: #f0f0f0; /* Optional background color */
}

.home-container img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the container */
}

.home-button {
  position: absolute;
  top: 65%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Shift the button to center precisely */
  z-index: 1; /* Make sure the button appears above the image */
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 700;
}

.form-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.profile-container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

